.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .grid1 {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .content1 h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
   text-align: center;
  }